
= form_for([:admin, @company], :html => {:multipart => true}) do |f|

  - if @company.errors.any?
    #error_explanation
      %h2= pluralize(@company.errors.count, "error") + "prohibited this company from being saved:"

      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .clearfix
    = f.label :name
    .input
      = f.text_field :name

  .clearfix
    = f.label :phone
    .input
      = f.text_field :phone

  .clearfix
    = f.label :api_key
    .input
      = f.text_field :api_key

  .clearfix
    = f.label :subdomain
    .input
      = f.text_field :subdomain

  .clearfix
    = f.label :Logo
    .input
      - unless @company.new_record?
        %img{:src => logo_admin_company_path(@company)}
        %br/
      = f.file_field :logo

  .clearfix
    = f.label :Icon
    .input
      - unless @company.new_record?
        %img{:src => icon_admin_company_path(@company)}
        %br/
      = f.file_field :icon

  .actions
    = f.submit :class => 'btn success'
    = link_to 'Cancel', admin_companies_path, :class => "btn"