.page-header
  %h1 Companies

.row
  .span14
    %table
      %tr
        %th
        %th Name
        %th Phone
        %th Api key
        %th Subdomain
        %th
        %th

      - @companies.each do |company|
        %tr
          %td   
            %img{:src => company.logo_url, :height => 30}
          %td= company.name
          %td= company.phone
          %td= company.api_key
          %td= company.subdomain
          %td= link_to 'Edit', edit_admin_company_path(company), :class => 'btn'
          %td= link_to 'Destroy', admin_company_path(company), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'

    .actions
      = link_to 'New Company', new_admin_company_path, :class => 'btn success'
